[submodule "external/CppUtils-Essential"]
	path = external/CppUtils-Essential
	url = https://github.com/Emiliopg91/Youda008-CppUtils-Essential.git
[submodule "external/CppUtils-Network"]
	path = external/CppUtils-Network
	url = httpshttps://github.com/Emiliopg91/Youda008-CppUtils-Network.git
